

header{
    background-color: #f3f7f9;
    padding: 20px;
}

main{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.main-navigation-second{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    margin-top: 68px;
}

.main-navigation-second ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-navigation-second li{
    flex: 1 1 auto;
}

.main-navigation-second li:first-child{
    max-width: 200px;
    width: 100%;
    margin-left: 52px;
    padding-top: 5px;
}

.main-navigation-second li:nth-child(2){
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.main-navigation-second li:nth-child(3){
    max-width: 300px;
    width: 100%;
}

.main-navigation-second .addres{
    margin-top: 5px;
    align-self: center;
}


.main-navigation-third ul{
    margin: 0 auto;
    margin-top: 38px;
}

.main-navigation-third{
    margin: 0;
    margin-bottom: 40px;
}
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */


/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

/* breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs */

.breadcrumbsWrapper{
    padding: 0;
    margin: 0;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.breadcrumbs{
    padding: 0;
    margin: 0;
    max-width: 358px;
}


/* breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs */

.mainh2{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f6f8;
    padding: 30px 0;
    padding-left: 30px;
    margin-top: 20px;
}

/* CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG */

.mainSection{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mainSection article{
    flex: 1 1 auto;
}


.filterName h4{
    padding: 0;
    margin: 0;
    max-width: 220px;
    width: 100%;
    background-color: #f7f3ec;
    padding: 10px 0;
    padding-left: 20px;
    margin-top: 20px;
}

.sortingName{
    padding: 0;
    margin: 0;
    max-width: 700px;
    width: 100%;
    background-color: #f7f3ec;
    padding: 10px 0;
    padding-left: 20px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sortingName h4{
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.sortingUl1{
    padding: 0;
    margin: 0;
    max-width: 355px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 45px;
    flex-wrap: wrap;
}

.sortingUl2{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 43px;
    margin-right: 17px;
}

.productsArticle{
    padding: 0;
    margin: 0;
    max-width: 700px;
    width: 100%;
}

form{
    padding: 0;
    margin: 0;
    width: 220px;
    padding-top: 11px;
    margin-right: 25px;
}

fieldset.value{
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
}

fieldset.value legend{
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

fieldset.manufacturers{
    padding-bottom: 0;
    margin-bottom: 7px;
}

form button{
    margin-left: 0;
}




.popular-products-ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}


.popular-container a{
    padding: 0;
    margin: 0;
}

.popular-container h3{
    margin-left: 29px;
}



.popular-products-ul li{
    padding: 0;
    margin: 0;
    max-width: 220px;
    width: 100%;
    margin-top: 20px;
}

.popular-products-ul a{
    display: block;
    width: 100%;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.popular-products-ul p{
    max-width: 160px;
    width: 100%;
    margin-bottom: 0;
}


.popular-products-ul li.first-child-li img{
    margin-top: 25px;
    margin-left: -7px;
}

.popular-products-ul li.second-child-li img{
    margin-top: 20px;
    margin-right: 18px;
}

.popular-products-ul li.third-child-li img{
    margin-top: 26px;
    margin-right: 25px;
}

.popular-products-ul li.first-child-li p{
    margin-top: 40px;
}

.popular-products-ul li.second-child-li p{
    margin-top: 30px;
}

.popular-products-ul li.third-child-li p{
    margin-top: 40px;
}


.popular-products-ul .span-first{
    margin-top: 12px;
    margin-bottom: 9px;
}

.popular-products-ul .span-second{
    display: block;
    background-color: #ee3643;
    padding: 10px 0;
    text-align: center;
    max-width: 141px;
    width: 100%;
    position: relative;
    margin-left: 6px;


    margin-bottom: 20px;
}

.popular-products-ul li.third-child-li .span-first{
    visibility: hidden;
}

.popular-products-ul .span-second::after{
    content: "";
    position: absolute;
    background-color: transparent;
    background-size: 19px;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    right: -11px;
    bottom: -3px;
    transform: rotate(135deg);
}

.popular-products-ul .span-second::before{
    content: "";
    position: absolute;
    background-color: transparent;
    background-size: 19px;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    right: -11px;
    top: -3px;
    transform: rotate(45deg);
}


.popular-products-ul a:hover{
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.popular-products-ul a:focus,
.popular-products-ul a:active{
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}


.pagination{
    margin-top: 53px;
    margin-bottom: 59px;
}

/* CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG */

.about-perfor{
    background-color: #f2f6f8;
}

.about-perfor article{
    padding: 0;
    margin: 0;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 29px;
}



/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */










/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* footerWrapper1 footerWrapper1 footerWrapper1 footerWrapper1 footerWrapper1 */

.footerWrapper1{
    background-color: #32425c;
    margin: 0;
    padding: 0;
    padding-bottom: 31px;
}

.footerWrapper1-inside{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.navigation-footer1{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.navigation-footer1UL{
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 548px;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-top: 38px;
}

.navigation-footer2{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.navigation-footer2UL{
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 525px;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-top: 28px;
}

.navigation-footer2 p{
    margin-top: 28px;
    margin-left: 3px;
    max-width: 327px;
}

/* footerWrapper1 footerWrapper1 footerWrapper1 footerWrapper1 footerWrapper1 */





/* footerWrapper2 footerWrapper2 footerWrapper2 footerWrapper2 footerWrapper2 */

.footerWrapper2{
    padding: 0;
    margin: 0;
    background-color: #293449;

    /*margin-top: -15px;*/
    padding-bottom: 20px;
}

.navigation-footer3{
    padding: 0;
    margin: 0;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.company-data{
    max-width: 230px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.network-container{
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 131px;
    width: 100%;
    justify-content: space-between;
    margin-left: 35px;
}

.footerWrapper2 .direct{
    max-width: 330px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-right: -35px;
}










/* footerWrapper2 footerWrapper2 footerWrapper2 footerWrapper2 footerWrapper2 */

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */












/* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */

/* HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD */

@media (max-width:880px){

    head{
        margin: 0;  
    }

    body{
        padding: 0;
    }

    .main-navigation-first ul{
        max-width: 490px;
        flex-wrap: wrap;
    }

    .main-navigation-first .logoMain::after{
        display: none;
    }


    .main-navigation-second ul{
        max-width: 490px;
        width: 100%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .main-navigation-third ul{
        max-width: 490px;
        width: 100%;
        flex-wrap: wrap;
    }

    .main-navigation-third ul li{
        flex-basis: 100px;
    }

    .main-navigation-third ul li a{
        width: 100%;
    }

    .main-navigation-third li:first-child a{
        padding-left: 0px;
    }
    
    .main-navigation-third li:last-child a{
        padding-right: 0px;
    }
    
    .main-navigation-second li:nth-of-type(1){
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .main-navigation-second li:nth-of-type(2){
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}


/* HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD */

/* CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG */

@media (max-width:960px){

    .filterArticle{
        margin-left: 10px;
    }

    .productsArticle{
        margin-right: 10px;
    }

}

@media (max-width:950px){

    .popular-products-ul{
        max-width: 470px;
        margin: 0 auto;
    }

}


@media (max-width:780px){
    
    .sortingUl1{
        margin-left: 10px;
    }

}

@media (max-width:780px){
    
    .sortingUl1{
        margin-left: 0;
    }

}

@media (max-width:970px){
    
    .about-perfor{
        padding-left: 10px;
        padding-right: 10px;
    }

}


/* CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG */








/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

@media (max-width:960px){

    .footerWrapper1-inside,
    .navigation-footer3{
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width:850px){

    .navigation-footer1,
    .navigation-footer2,
    .navigation-footer3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-footer1 .footerLogo,
    .navigation-footer1 ul,
    .navigation-footer2 div,
    .navigation-footer2 ul,
    .navigation-footer3 div,
    .navigation-footer3 .network-container{
        margin-left: auto;
        margin-right: auto;
    }

    .navigation-footer1 ul{

    }


    
    .navigation-footer3 .network-container{
        margin-bottom: 20px;
    }


}



/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */   