*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}







/* fonts fonts fonts */


/* header header header hader */

header a{
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

header{
    font-weight: 400;
}

.main-navigation-first a{
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
}

.main-navigation-first .logoMain{
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
}




.main-navigation-second li:first-child{
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0;
    color: #ee3643;
}

.main-navigation-second a{
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: #32425c;
}

.main-navigation-second .userName{
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0;
    color: #ffffff;
}

.main-navigation-second .phone{
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0;
    color: #ee3643;
}

.main-navigation-second .addres{
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #32425c;
}



.main-navigation-third a{
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0;
}

/* header header header hader */


/* main main main main main */

/* MINI-CATALOG MINI-CATALOG */

.section-catalog span{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
}

.section-catalog a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 135px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}


.li-big .tech{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0;
    color: #ffffff;
}

.li-big .else{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffffff;
}

.li-big a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 195px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

/* MINI-CATALOG MINI-CATALOG */




/* POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION */

.popular-container h3{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #32425c;
}

.popular-container a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 253px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

.popular-products-ul p{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
}

.popular-products-ul .span-first{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    color: #a9a9a9;

    text-decoration: line-through;
}

.popular-products-ul .span-second{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

/* POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION */


/* SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES */

.h3H{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #000000;
}

.pP{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}

.services-delivery a{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
}

.services-delivery a.Here{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0;
    color: #32425c;
}

.delivery h2{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0;
    color: #32425c;
}

.logistic-list li{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
} 

.logistic-list + a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 220px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

div.image + a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

/* SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES */

/* main main main main main */

/* FOOTER FOOTER FOOTER FOOTER */

.navigation-footer1 h1{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
}

.navigation-footer1 a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffffff;
}

.navigation-footer2 div{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffffff;
}

.navigation-footer2 a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffd180;
}

.company-data{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

.direct{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

.direct a{
    color: #ffd180;
}

/* FOOTER FOOTER FOOTER FOOTER */
  



/* catalog catalog catalog catalog catalog catalog */

.breadcrumbs a{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

.breadcrumbs + h2{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #32425c;
}

/* filterArticle filterArticle filterArticle filterArticle */

.divName h4{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

form legend{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0;
    color: #000000;
}

.range input::placeholder{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

form label{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}

.filterArticle button{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 140px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;

    border-radius: 2px;
    border: none;
}

/* filterArticle filterArticle filterArticle filterArticle */

/* sortingName sortingName sortingName sortingName sortingName */

.sortingUl1 a{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
    opacity: 30%;
}

.sortingUl1 a.here{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ee3643;
    opacity: 100%;
}

.icon-up polygon{
    fill: #ee3643;
}

.icon-down{
    opacity: 30%;
}

/* sortingName sortingName sortingName sortingName sortingName */

.pagination button{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

.pagination button:first-of-type{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

.about-perfor h2{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #000000
}

.about-perfor p{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}



/* catalog catalog catalog catalog catalog catalog */

/* fonts fonts fonts */





/*  ВРЕМЕННЫЕ СТИЛИ  */

header, main, footer{
    background-color: rgb(190, 143, 41);
    padding: 20px;
}

.mini-catalog{
    background-color: rgb(190, 143, 41);
    padding: 20px;
}

/*  ВРЕМЕННЫЕ СТИЛИ  */