*{
    box-sizing: border-box;
    outline: none;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}






/* fonts fonts fonts */


/* header header header hader */

header a,
.main-navigation-first input,
.main-navigation-first input::placeholder{
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
}

header{
    font-weight: 400;
}

.main-navigation-first a,
.main-navigation-first input,
.main-navigation-first input::placeholder{
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
}

.main-navigation-first .logoMain{
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
}




.main-navigation-second li:first-child{
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0;
    color: #ee3643;
}

.main-navigation-second a{
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: #32425c;
}

.main-navigation-second .userName{
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0;
    color: #ffffff;
}

.main-navigation-second .phone{
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0;
    color: #ee3643;
}

.main-navigation-second .addres{
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #32425c;
}



.main-navigation-third a{
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0;
}

/* header header header hader */


/* main main main main main */

/* MINI-CATALOG MINI-CATALOG */

.section-catalog span{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
}

.section-catalog a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 135px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}


.li-big .tech{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0;
    color: #ffffff;
}

.li-big .else{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffffff;
}

.li-big a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 195px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

/* MINI-CATALOG MINI-CATALOG */




/* POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION */

.popular-container h3{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #32425c;
}

.popular-container a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 253px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

.popular-products-ul p{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
}

.popular-products-ul .span-first{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    color: #a9a9a9;

    text-decoration: line-through;
}

.popular-products-ul .span-second{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

/* POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION POPULAR-SECTION */


/* SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES */

.h3H{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #000000;
}

.pP{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}

.services-delivery a{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
}

.services-delivery a.Here{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0;
    color: #32425c;
}

.delivery h2{
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0;
    color: #32425c;
}

.logistic-list li{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
} 

.logistic-list + a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 220px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

div.image + a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;

    /* EXEPTION  */
    display: block;
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

/* SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES */

/* main main main main main */

/* FOOTER FOOTER FOOTER FOOTER */

.navigation-footer1 .footerLogo{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
}

.navigation-footer1 a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffffff;
}

.navigation-footer2 div{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffffff;
}

.navigation-footer2 a{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffd180;
}

.company-data{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

.direct{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

.direct a{
    color: #ffd180;
}

/* FOOTER FOOTER FOOTER FOOTER */
  



/* catalog catalog catalog catalog catalog catalog */

.breadcrumbs a{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

.breadcrumbs + h2{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #32425c;
}

/* filterArticle filterArticle filterArticle filterArticle */

.divName h4{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

form legend{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0;
    color: #000000;
}

.range input::placeholder{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

.range input{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

form label{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}

.filterArticle button{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
    text-transform: uppercase;

    /* EXEPTION  */
    
}

/* filterArticle filterArticle filterArticle filterArticle */

/* sortingName sortingName sortingName sortingName sortingName */

.sortingUl1 a{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.3);
}

.sortingUl1 a.here{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ee3643;
    opacity: 100%;
}

.icon-up polygon{
    fill: #ee3643;
}

.icon-down{
    opacity: 30%;
}

/* sortingName sortingName sortingName sortingName sortingName */

.pagination button{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #000000;
}

.pagination button:first-of-type{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
}

.about-perfor h2{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    color: #000000
}

.about-perfor p{
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}


/* catalog catalog catalog catalog catalog catalog */

/* fonts fonts fonts */




/* BUTTONS BUTTONS BUTTTONS BUTTTONS BUTTONS BUTTONS */



/* buttons buttons buttons buttons buttons buttons */


/* HEADER HEADER HEADER HEADER HEADER HEADER */

/* EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION */
.main-navigation-first li,
.main-navigation-first a,
.main-navigation-first input{
    padding: 0;
    margin: 0;
}


.main-navigation-first a,
.main-navigation-first input{
    height: 100%;
}

.main-navigation-first{
    width: 100%;
    background-color: #293449;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}

.main-navigation-first ul{
    display: flex;
    max-width: 940px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    justify-content: space-between;
}

.main-navigation-first li{
    flex: 1 1 auto;
}

/* EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION */

/* main-navigation-first main-navigation-first main-navigation-first main-navigation-first */

.main-navigation-first li:first-child{
    max-width: 220px;
    width: 100%;
}

.main-navigation-first .logoMain{
    display: block;
    background-color: #ee3643;
    padding: 10px 55px;
    padding-bottom: 7px;
    max-width: 220px;
    width: 100%;
    position: relative;
}

.main-navigation-first .logoMain::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #b52933;

    bottom: -5px;
    left: 0;
}

.main-navigation-first ul  li:nth-child(2){
    max-width: 270px;
    
    width: 100%; 
}

.main-navigation-first ul  li:nth-child(2) input{
    padding: 0;
    margin: 0;
    display: block;
    max-width: 270px;
    width: 100%; 
    padding-top: 12px;
    padding-left: 48px;
    padding-bottom: 11px;
    background-color: transparent;
}

.main-navigation-first li:nth-child(3){   
    max-width: 150px;
    width: 100%;
}

.main-navigation-first li:nth-child(3) a{
    display: block;   
    max-width: 150px;
    width: 100%;
    padding-top: 12px;
    padding-left: 45px;
    padding-bottom: 11px;
    padding-right: 10px;
}

.main-navigation-first li:nth-child(4){   
    max-width: 150px;
    min-width: 125px;
    width: 100%;
}

.main-navigation-first li:nth-child(4) a{
    display: block;   
    max-width: 150px;
    width: 100%;
    padding-top: 12px;
    padding-left: 50px;
    padding-bottom: 11px;
}

.main-navigation-first li:nth-child(5){   
    max-width: 150px;
    width: 100%;
}

.main-navigation-first li:nth-child(5) a{
    display: block;   
    max-width: 150px;
    width: 100%;
    padding-top: 12px;
    padding-left: 21px;
    padding-bottom: 11px;
    background-color: #63a63e;
}







.main-navigation-first ul input{
    border: none;
}

.main-navigation-first ul a:hover,
.main-navigation-first ul li input:hover{
    background-color: #212a3a;
}

.main-navigation-first li:nth-child(5) a:hover{
    background-color: #5fbb2d;
}

.main-navigation-first .logoMain:hover{
    background-color: #ca2c37;
}

.main-navigation-first .logoMain:hover::after{
    background-color: #9a212a;
}

.main-navigation-first ul a:active,
.main-navigation-first ul a:focus{
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.main-navigation-first ul li input:active,
.main-navigation-first ul li input:focus{
    background-color: #ffffff;
    color: #000000;
}

.main-navigation-first ul li input:active::placeholder,
.main-navigation-first ul li input:focus::placeholder{
    color: #000000;
}

.main-navigation-first li:nth-child(5) a:active,
.main-navigation-first li:nth-child(5) a:focus{
    background-color: #518534;
}

.main-navigation-first .logoMain:active,
.main-navigation-first .logoMain:focus{
    background-color: #ba2732;
}

.main-navigation-first .logoMain:active::after,
.main-navigation-first .logoMain:focus::after{
    background-color: #8e1e26;
}




.main-navigation-first a,
.main-navigation-first input{
    position: relative;
}


.main-navigation-first ul li:nth-child(2) input{
    background-image: url(../img/icon-search-1.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.main-navigation-first ul li:nth-child(3) a{
    background-image: url(../img/icon-bookmark-1.png);
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.main-navigation-first ul li:nth-child(4) a{
    background-image: url(../img/cart-icon-1.png);
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: 19px 12px;
}

.main-navigation-first ul li:nth-child(2) input:hover{
    background-image: url(../img/icon-search-2.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.main-navigation-first ul li:nth-child(3) a:hover{
    background-image: url(../img/icon-bookmark-2.png);
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.main-navigation-first ul li:nth-child(4) a:hover{
    background-image: url(../img/cart-icon-2.png);
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: 19px 12px;
}

.main-navigation-first ul li:nth-child(2) input:focus,
.main-navigation-first ul li:nth-child(2) input:active{
    background-image: url(../img/icon-search-3.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.main-navigation-first ul li:nth-child(3) a:focus,
.main-navigation-first ul li:nth-child(3) a:active{
    background-image: url(../img/icon-bookmark-3.png);
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.main-navigation-first ul li:nth-child(4) a:focus,
.main-navigation-first ul li:nth-child(4) a:active{
    background-image: url(../img/cart-icon-3.png);
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: 19px 12px;
}

/* main-navigation-first main-navigation-first main-navigation-first main-navigation-first */

/* main-navigation-second main-navigation-second main-navigation-second main-navigation-second */


.main-navigation-second .phone{
    max-width: 270px;
    width: 100%;
    border: 3px solid #ffffff;
    position: relative;
    padding: 10px 0px 8px 70px;
}

.main-navigation-second .phone::before{
    content: "";
    position: absolute;
    background-image: url(../img/icon-phone.svg);
    background-size: 19px;
    width: 19px;
    height: 19px;
    left: 12px;
}

.main-navigation-second .indexPage{
    max-width: 281px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-navigation-second .aenter{
    max-width: 121px;
    width: 100%;
    color: #000000;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 47px;

    position: relative;
}

.main-navigation-second .alogin{
    max-width: 150px;
    width: 100%;
    color: #000000;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;

    position: relative;
}

.indexPage a:hover{
    color: #ee3643;
}

.indexPage a:active,
.indexPage a:focus{
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation-second .aenter::before{
    content: "";
    position: absolute;

    background-image: url(../img/icon-login-1.png);
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
    left: 14px;
}

.main-navigation-second .aenter:hover::before{
    content: "";
    position: absolute;

    background-image: url(../img/icon-login-2.png);
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
    left: 14px;
}

.main-navigation-second .aenter:active::before{
    content: "";
    position: absolute;

    background-image: url(../img/icon-login-1.png);
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
    left: 14px;
}


.main-navigation-second .catalogPage{
    max-width: 299px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-navigation-second .auser{
    max-width: 299px;
    width: 100%;
    color: #000000;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 47px;

    position: relative;
}

.main-navigation-second .auser::before{
    content: "";
    position: absolute;

    background-image: url(../img/icon-user-1.png);
    background-size: 20px 18px;
    width: 20px;
    height: 18px;
    left: 14px;
}

.main-navigation-second .auser:hover::before{
    content: "";
    position: absolute;

    background-image: url(../img/icon-user-2.png);
    background-size: 20px 18px;
    width: 20px;
    height: 18px;
    left: 14px;
}

.main-navigation-second .auser:active::before{
    content: "";
    position: absolute;

    background-image: url(../img/icon-user-1.png);
    background-size: 20px 18px;
    width: 20px;
    height: 18px;
    left: 14px;
}

.main-navigation-second .auser::after{
    content: "";
    position: absolute;

    background-image: url(../img/icon-logout-1.png);
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
    right: 9px;
    top: 14px;
}

.main-navigation-second .auser:hover::after{
    content: "";
    position: absolute;

    background-image: url(../img/icon-logout-2.png);
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
    right: 9px;
    top: 14px;
}

.main-navigation-second .auser:active::after{
    content: "";
    position: absolute;

    background-image: url(../img/icon-logout-1.png);
    background-size: 20px 17px;
    width: 20px;
    height: 17px;
    right: 9px;
    top: 14px;
}


.main-navigation-second .auser:active,
.main-navigation-second .auser:focus{
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation-second .addres:hover{
    color: #ee3643;
}

.main-navigation-second .addres:active,
.main-navigation-second .addres:focus{
    opacity: 30%;
}

.main-navigation-second .my{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 7px;
    margin-left: 19px;
}

.main-navigation-second .my a{
    position: relative;
}

.main-navigation-second .my a::before{
    content: "";
    position: absolute;
    background-color: #49586f;
    background-size: auto 1px;
    width: 100%;
    height: 1px;
    bottom: 1px;
}

.main-navigation-second .my a:first-child{
    margin-right: 32px;
    position: relative;
}

.main-navigation-second .my a:first-child::after{
    content: "";
    position: absolute;
    background-image: url(../img/dot.png);
    background-size: 4px 5px;
    width: 4px;
    height: 5px;
    top: 7px;
    right: -17px;
}

.main-navigation-second .my a:hover{
    color: #ee3643;
}

.main-navigation-second .my a:hover::before{
    background-color: #ee3643;
}

.main-navigation-second .my a:focus,
.main-navigation-second .my a:active{
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation-second .my a:focus::before,
.main-navigation-second .my a:active::before{
    background-color: rgba(0, 0, 0, 0.3);
}

/* main-navigation-second main-navigation-second main-navigation-second main-navigation-second */

/* main-navigation-third main-navigation-third main-navigation-third main-navigation-third */

/* EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION */

.main-navigation-third ul{
    display: flex;
    max-width: 940px;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.main-navigation-third li{
    padding: 0;
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-navigation-third a{
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    padding-top: 20px;
    padding-bottom: 18px;
}

.main-navigation-third li:first-child a{
    padding-left: 20px;
}

.main-navigation-third li:last-child a{
    padding-right: 22px;
}
/* EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION EXCEPTION */

.main-navigation-third a:hover{
    background-color: #293449;
}

.main-navigation-third a:focus,
.main-navigation-third a:active{
    background-color: #1d2739;
    border-bottom: 5px solid #1d2739;
}

/* main-navigation-third main-navigation-third main-navigation-third main-navigation-third */

/* HEADER HEADER HEADER HEADER HEADER HEADER */
/*/
/
/
/
/
/*/
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

/* MINI-CATALOG MINI-CATALOG MINI-CATALOG MINI-CATALOG */

.section-catalog a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.section-catalog a:focus,
.section-catalog a:active{
    background-color: rgba(0, 0, 0, 0.3);
}



.button-list button{
    border: none;
    background-color: transparent;
}

.red-button:hover{
    background-color: #ca2c37;
}

.red-button:focus,
.red-button:active{
    background-color: #ba2732;
}


/* SHADOW SHADOW SHADOW SHADOW SHADOW SHADOW SHADOW SHADOW */
.popular-products-ul a{
    box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.3);
}
/* SHADOW SHADOW SHADOW SHADOW SHADOW SHADOW SHADOW SHADOW */ 

/* services-delivery services-delivery services-delivery services-delivery */

.services-delivery-ul{
    padding: 0;
    margin: 0;
    max-width: 240px;
    width: 100%;
    position: relative;
}

.services-delivery-ul li{
    padding: 0;
    margin: 0;
    max-width: 240px;
    width: 100%;
}

.services-delivery-ul::after{
    content: "";
    position: absolute;
    background-image: url(../img/shadow-ul.png);
    background-size: 10px 279px;
    width: 10px;
    height: 279px;
    right: 0;
    top: -40px;
}


.services-delivery-ul a{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    background-color: #32425c;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    padding-top: 16px;
    padding-left: 22px;
    padding-bottom: 14px;
}

.services-delivery-ul a.Here{
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.services-delivery-ul a:hover{
    background-color: #293449;
}

.services-delivery-ul a.Here:hover{
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    background-color: #32425c;
    color: #ffffff;
}

.services-delivery-ul a:focus,
.services-delivery-ul a:active{
    background-color: #ffffff;
    color: #32425c;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

/* services-delivery services-delivery services-delivery services-delivery */

/* detailed detailed detailed detailed detailed detailed detailed */

.logistic-list{
    padding: 0;
    margin: 0;
}

.logistic-list li{
    padding: 0;
    margin: 0;
    padding-left: 36px;
    position: relative;
}

.logistic-list li:before{
    content: "";
    position: absolute;
    background-color: #ee3643;
    background-size: 25px 2px;
    width: 25px;
    height: 2px;
    left: 0;
    top: 10px;
}

/* detailed detailed detailed detailed detailed detailed detailed */

/* MINI-CATALOG MINI-CATALOG MINI-CATALOG MINI-CATALOG */

/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/*/
/
/
/
/
/*/
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* footerWrapper1 footerWrapper1 footerWrapper1 footerWrapper1 */

footer .footerLogo{
    display: block;
    max-width: 220px;
    width: 100%;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 15px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.navigation-footer1UL a{
    position: relative;
}

.navigation-footer1UL a:hover::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    background-size: 100% 1px;
    width: 100%;
    height: 1px;
    bottom: 2px;
    left: 0;
}

.navigation-footer1UL a:focus,
.navigation-footer1UL a:active{
    opacity: 50%;
    position: static;
}

.navigation-footer2UL a{
    position: relative;
}

.navigation-footer2UL a:hover::after{
    content: "";
    position: absolute;
    background-color: #ffd180;
    background-size: 100% 1px;
    width: 100%;
    height: 1px;
    bottom: 2px;
    left: 0;
}

.navigation-footer2 UL a:focus,
.navigation-footer2UL a:active{
    opacity: 50%;
    position: static;
}


/* footerWrapper1 footerWrapper1 footerWrapper1 footerWrapper1 */

/* footerWrapper2 footerWrapper2 footerWrapper2 footerWrapper2 */

.network-container a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #212a3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.network-container a:hover,
.network-container a:active,
.network-container a:focus{
    background-color: #ee3643;
}


.direct a{
    position: relative;
}

.direct a:hover::after{
    content: "";
    position: absolute;
    background-color: #ffd180;
    background-size: 100% 1px;
    width: 100%;
    height: 1px;
    bottom: 1px;
    left: 0;
}

.direct a:focus,
.direct a:active{
    position: static;
    color: #ee3643;
}
/* footerWrapper2 footerWrapper2 footerWrapper2 footerWrapper2 */

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */


/* CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG */

/* BREADCRUMBS BREADCRUMBS BREADCRUMBS BREADCRUMBS */

.breadcrumbs{
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
}

.breadcrumbs a{
    position: relative;
}

.breadcrumbs a::after{
    content: "";
    position: absolute;
    background-image: url(../img/icon-right-small.svg);
    background-size: 8px 12px;
    width: 8px;
    height: 12px;
    right: -24px;
    top: 2px;
}

.breadcrumbs li:last-of-type a::after{
    position: static;
}

/* BREADCRUMBS BREADCRUMBS BREADCRUMBS BREADCRUMBS */

/* sorting sorting sorting sorting sorting sorting */

.sortingUl1{
    padding: 0;
    margin: 0;
    max-width: 355px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}






.sortingUl1 li a{
    position: relative;
    display: block;
}

.sortingUl1 a::after{
    content: "";
    position: absolute;
    background-image: url(../img/dots.png);
    background-repeat: repeat-x;
    background-size: auto 1px;
    width: 100%;
    height: 1px;
    right: 0;
    bottom: 0px;
}

.sortingUl1 a.here::after{
    position: static;
}

.sortingUl1 a:hover{
    color: #000;
}

.sortingUl1 a:hover::after{
    content: "";
    position: absolute;
    background-color: #ee3643;
    background-repeat: repeat-x;
    background-size: auto 1px;
    width: 100%;
    height: 1px;
    right: 0;
    bottom: 0px;
}

.sortingUl1 a:focus,
.sortingUl1 a:active{
    color: #ee3643;
    position: static;
}

.sortingUl1 a:focus::after,
.sortingUl1 a:active::after{
    position: static;
}


.sortingUl2 a:hover polygon{
    fill: #000000;
}

.sortingUl2 a:hover .icon-down,
.sortingUl2 a:focus .icon-down,
.sortingUl2 a:active .icon-down{
    opacity: 100%;
}

.sortingUl2 a:focus polygon,
.sortingUl2 a:active polygon{
    fill: #ee3643;
}


/* sorting sorting sorting sorting sorting sorting */


/* FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM */

form fieldset{
    border: none;
}



form .range-wrapper{
    max-width: 220px;
    width: 100%;
    background-color: #f7f3ec;
    
    text-align: center;
    padding: 30px 0;
}

form .range{
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form input[type="number"]{
    border: none;
    background-color: #f7f3ec;
    max-width: 95px;
    width: 100%;
    display: block;
    padding: 9px 0;
    padding-left: 15px;
    text-align: center;
    margin-top: 9px;
    position: relative;
}

div.range{
    position: relative;
}

div.range::after{
    content: "";
    position: absolute;
    background-color: #444444;
    background-size: 10px 1px;
    width: 10px;
    height: 1px;
    left: 105px;
    bottom: 17px;
}




.manufacturers-checkbox{
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

label{
    position: relative;
    padding-left: 35px;
}

input[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    background-image: url(../img/checkbox-off.svg);
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    left: 0;
    opacity: 50%;
}

input[type="checkbox"]:checked + label::before{
    content: "";
    position: absolute;
    background-image: url(../img/checkbox-on.svg);
    background-size: 27px 23px;
    width: 27px;
    height: 23px;
    left: 0;
    opacity: 50%;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:checked:hover + label::before{
    opacity: 70%;
}


input[type="checkbox"]:active + label::before,
input[type="checkbox"]:checked:active + label::before,
input[type="checkbox"]:focus + label::before,
input[type="checkbox"]:checked:focus + label::before{
    opacity: 30%;
}

.supply-radio{
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

input[type="radio"] + label::before{
    content: "";
    position: absolute;
    background-image: url(../img/radio-off.svg);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    left: 0;
    opacity: 50%;
}

input[type="radio"]:checked + label::before{
    content: "";
    position: absolute;
    background-image: url(../img/radio-on.svg);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    left: 0;
    opacity: 50%;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:checked:hover + label::before{
    opacity: 70%;
}


input[type="radio"]:active + label::before,
input[type="radio"]:checked:active + label::before,
input[type="radio"]:focus + label::before,
input[type="radio"]:checked:focus + label::before{
    opacity: 30%;
}


.filterArticle button{
    display: block;
    background-color: transparent;  
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: block;
    max-width: 140px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;

    border-radius: 2px;
}

.filterArticle button:hover{
    border: 1px solid rgba(0, 0, 0, 1);
}

.filterArticle button:active,
.filterArticle button:focus{
    border: 1px solid rgba(0, 0, 0, 0.5);
}

legend{
    border-top: 1px solid #e5e5e5;
    padding: 0;
    margin: 0;
    padding-top: 18px;

    max-width: 220px;
    width: 100%;
}

.value legend{
    border-top: none;
    margin-bottom: 8px;
}

.value .range{
    margin: 0;
    margin-bottom: 15px;
}

.manufacturers legend{
    margin-top: 0;
    margin-bottom: -10px;
}

.manufacturers div{
    margin-top: 0;
    margin-bottom: -5px; 
}

.supply legend{  
    margin-top: 0;
    margin-bottom: -10px;
}

.supply{
    margin-bottom: 50px;
}

form button{
    margin-left: 13px;
}





form{
    background-color: #ffffff;
}




.pagination div{
    max-width: 284px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pagination button{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 38px;
    width: 100%;
    padding: 10px 0;
    border-radius: 2px;
}

.pagination button:last-child{
    max-width: 140px;
}

.pagination button:first-child{
    background-color: #ee3643;
}

.pagination button:hover{
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.pagination button:active,
.pagination button:focus{
    border: 1px solid #ee3643;
}

/* FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM */

/* CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG CATALOG */

/* buttons buttons buttons buttons buttons buttons */




/*  ВРЕМЕННЫЕ СТИЛИ  */

header, main{
    background-color: rgb(190, 143, 41);
    padding: 20px;
}

.mini-catalog{
    background-color: rgb(190, 143, 41);
    padding: 20px;
}

.footerWrapper1{
    background-color: #32425c;
    padding: 50px;
}

.footerWrapper2{
    background-color: #293449;
}

.network-container a{
    margin: 20px;
}




/*  ВРЕМЕННЫЕ СТИЛИ  */